[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
dateparser = "*"
gcsa = "*"

[requires]
python_version = "3.8"
